.account__name-container {
    display: grid;
    grid-template-columns: auto min-content;
    justify-content: start;
    align-items: center;
    gap: 18px;
}

@media (max-width: 880px) {
    .account__name-container {
        margin: auto;
        gap: 10px;
    }
}